# Compare

In [56]:
# import data
import pandas as pd

## assigned data
dc = pd.read_csv("./data/housing.csv")

In [57]:
dc1 = dc.copy()
dc2 = dc.copy()

print(dc1.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [58]:
print("dc1.iloc[0, 0]", dc1.iloc[0, 0])
print("-------------")
print("dc1.iloc[1, 0]", dc1.iloc[1, 0])
print("-------------")
print("dc1.iloc[0, 1]", dc1.iloc[0, 1])
print("-------------")
print("dc1.iloc[0]\n", dc1.iloc[0].head())
print("-------------")
print("dc1.iloc[1]\n", dc1.iloc[1].head())
print("-------------")
print("dc1.iloc[:0]\n", dc1.iloc[:0])
print("-------------")
print("dc1.iloc[:0]\n", dc1.iloc[:1])

dc1.iloc[0, 0] -122.23
-------------
dc1.iloc[1, 0] -122.22
-------------
dc1.iloc[0, 1] 37.88
-------------
dc1.iloc[0]
 longitude            -122.23
latitude               37.88
housing_median_age      41.0
total_rooms            880.0
total_bedrooms         129.0
Name: 0, dtype: object
-------------
dc1.iloc[1]
 longitude            -122.22
latitude               37.86
housing_median_age      21.0
total_rooms           7099.0
total_bedrooms        1106.0
Name: 1, dtype: object
-------------
dc1.iloc[:0]
 Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []
-------------
dc1.iloc[:0]
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY

# Compare Series

In [60]:
# get first row by returning series
dc1_col0 = dc1.iloc[0]
dc2_col0 = dc2.iloc[0]

# la fila [:0] son los encabezados
# # using columns[] method
# # print(df[df.columns[0]])
# # get first column by returning dataframe
# # dc1_row0 = dc1.iloc[:, :1]
# get first column by returning series
dc1_row0 = dc1.iloc[:, 0]
dc2_row0 = dc2.iloc[:, 0]


print("-------------")
print("dc1_col0", type(dc1_col0))
print("dc1_col0", dc1_col0)
print("-------------")
print("dc1_row0", type(dc1_row0))
print("dc1_row0", dc1_row0)

-------------
dc1_pos00 <class 'numpy.float64'>
dc1_pos00 -122.23
-------------
dc1_col0 <class 'pandas.core.series.Series'>
dc1_col0 longitude              -122.23
latitude                 37.88
housing_median_age        41.0
total_rooms              880.0
total_bedrooms           129.0
population               322.0
households               126.0
median_income           8.3252
median_house_value    452600.0
ocean_proximity       NEAR BAY
Name: 0, dtype: object
-------------
dc1_row0 <class 'pandas.core.series.Series'>
dc1_row0 0       -122.23
1       -122.22
2       -122.24
3       -122.25
4       -122.25
          ...
20635   -121.09
20636   -121.21
20637   -121.22
20638   -121.32
20639   -121.24
Name: longitude, Length: 20640, dtype: float64

# Compare Numpy

In [61]:
# deprecate pandas.DataFrame.values
# print("dc1.values]\n", dc1.values)
np1 = dc1.to_numpy()
np2 = dc2.to_numpy()
print("type", type(np1), "value\n", np1)

type <class 'numpy.ndarray'> value
 [[-122.23 37.88 41.0 ... 8.3252 452600.0 'NEAR BAY']
 [-122.22 37.86 21.0 ... 8.3014 358500.0 'NEAR BAY']
 [-122.24 37.85 52.0 ... 7.2574 352100.0 'NEAR BAY']
 ...
 [-121.22 39.43 17.0 ... 1.7 92300.0 'INLAND']
 [-121.32 39.43 18.0 ... 1.8672 84700.0 'INLAND']
 [-121.24 39.37 16.0 ... 2.3886 89400.0 'INLAND']]

# Compare Decimals

In [ ]:
dc1_pos00 = dc1.iloc[0, 0]
dc2_pos00 = dc2.iloc[0, 0]

print("-------------")
print("dc1_pos00", type(dc1_pos00))
print("dc1_pos00", dc1_pos00)