In [10]:
# import data
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler


## utils
def p(tag, value):
    print("\n", tag, ":", "type", type(value), ",value", value)


## assigned data
housing = pd.read_csv("./data/housing.csv")

## split data to train
X = housing.drop(columns="median_house_value")
y = housing["median_house_value"]
p("data X value:", X)
p("data y value:", y)

### Muestreo estratificado (*Stratified sampling*)
### dividiendo el *dataset* en grupos llamados **estratos**,
### y asegurándose de tomar no solo un porcentaje de muestras del total,
### sino ese porcentaje de cada estrato.
stratify = pd.cut(
    housing["median_income"],
    bins=[
        0.0,
        1.5,
        3.0,
        4.5,
        6.0,
        np.inf,
    ],  # Secuencia de límites de los contenedores
    labels=[1, 2, 3, 4, 5],  # dividimos en 5 categorías
)
p("stratify data:", stratify)

# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
## objetivo --> evitar el **sobre-ajuste** o ***over-fitting***
X_train, X_test, y_train, y_test = train_test_split(
    X,  # features
    y,  # target
    stratify=stratify,  # estratificado
    test_size=0.2,  #  estoy usando el 20% de los datos # Controla la mezcla aplicada a los datos antes de aplicar la división.
    random_state=42,  ## fixed seed
)
p("split X_train:", X_train)
p("split X_test:", X_test)
p("split y_train:", y_train)
p("split y_test:", y_test)

## para comprobar la effectividad de las operaciones que vamos a realizar
### obtenemos los índices de las filas con valores nulos
null_rows_idx = X_train.isnull().any(axis=1)
p("split null_rows_idx", null_rows_idx)

# Calculamos k de manera manera estandarizada
k_value = np.sqrt(X_train.shape[0]).astype(int)
p("k_value:", k_value)

## OHE
### Aplicamos también OneHotEncoder para las variables categóricas.
cat_encoder = OneHotEncoder(sparse_output=False).set_output(
    transform="pandas"
)  # forzamos que la salida sea DataFrame
X_train_ocean_proximity_ohe = cat_encoder.fit_transform(X_train[["ocean_proximity"]])
p("X_train_ocean_proximity_ohe", X_train_ocean_proximity_ohe)

### recuperar el resto de DataFrame
## Concatenamos los Dataframes
## entiendo que no es necesario ya que ya solo tenemos una salida
X_train_rest = X_train.drop(columns="ocean_proximity")
housing_cat_ohe = pd.concat([X_train_rest, X_train_ocean_proximity_ohe], axis=1)
p("housing_cat_ohe", housing_cat_ohe)

## Estandarización
## entiendo que como Aplique OHE todas las variables son de type int|float
## X_train_num = X_train.select_dtypes(include=[np.number]) 3 no es necesario
scaler = StandardScaler().set_output(
    transform="pandas"
)  # Para que el resultado sea un DataFrame
X_train_scaled_and_ohe = scaler.fit_transform(housing_cat_ohe)
p("X_train_scaled_and_ohe", X_train_scaled_and_ohe)

## Imputamos valores
X_train_imputed_a = (
    KNNImputer(n_neighbors=k_value)
    .set_output(transform="pandas")
    .fit_transform(X_train_scaled_and_ohe)
)
p("X_train_imputed_a", X_train_imputed_a)

## Verificamos que no hay valores nulos
print(X_train_imputed_a.isna().any().any())

## Verificamos la actualización de los valores nulos
X_train_imputed_a.loc[
    null_rows_idx
].head()  # visualizamos las filas que tenían valores nulos

 data X value: : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income ocean_proximity
0           322.0       126.0         8.3252        NEAR BAY
1          2401.0      1138.0         8.3014        NEAR BAY
2           496.0       177.0         7.2574        NEAR BAY
3           558.0       219.0         5.6431        NEAR BAY
4           565.0       259.0         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635       845.0       330.0         1.5603          INLAND
20636       356.0       114.0         2.5568          INLAND
20637      1007.0       433.0         1.7000          INLAND
20638       741.0       349.0         1.8672          INLAND
20639      1387.0       530.0         2.3886          INLAND

[20640 rows x 9 columns]

 data y value: : type <class 'pandas.core.series.Series'> ,value 0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

 stratify data: : type <class 'pandas.core.series.Series'> ,value 0        5
1        5
2        5
3        4
4        3
        ..
20635    2
20636    2
20637    2
20638    2
20639    2
Name: median_income, Length: 20640, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

 split X_train: : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12655    -121.46     38.52                29.0       3873.0           797.0
15502    -117.23     33.09                 7.0       5320.0           855.0
2908     -119.04     35.37                44.0       1618.0           310.0
14053    -117.13     32.75                24.0       1877.0           519.0
20496    -118.70     34.28                27.0       3536.0           646.0
...          ...       ...                 ...          ...             ...
15174    -117.07     33.03                14.0       6665.0          1231.0
12661    -121.42     38.51                15.0       7901.0          1422.0
19263    -122.72     38.44                48.0        707.0           166.0
19140    -122.70     38.31                14.0       3155.0           580.0
19773    -122.14     39.97                27.0       1079.0           222.0

       population  households  median_income ocean_proximity
12655      2237.0       706.0         2.1736          INLAND
15502      2015.0       768.0         6.3373      NEAR OCEAN
2908        667.0       300.0         2.8750          INLAND
14053       898.0       483.0         2.2264      NEAR OCEAN
20496      1837.0       580.0         4.4964       <1H OCEAN
...           ...         ...            ...             ...
15174      2026.0      1001.0         5.0900       <1H OCEAN
12661      4769.0      1418.0         2.8139          INLAND
19263       458.0       172.0         3.1797       <1H OCEAN
19140      1208.0       501.0         4.1964       <1H OCEAN
19773       625.0       197.0         3.1319          INLAND

[16512 rows x 9 columns]

 split X_test: : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
5241     -118.39     34.12                29.0       6447.0          1012.0
17352    -120.42     34.89                24.0       2020.0           307.0
3505     -118.45     34.25                36.0       1453.0           270.0
7777     -118.10     33.91                35.0       1653.0           325.0
14155    -117.07     32.77                38.0       3779.0           614.0
...          ...       ...                 ...          ...             ...
12182    -117.29     33.72                19.0       2248.0           427.0
7275     -118.24     33.99                33.0        885.0           294.0
17223    -119.72     34.44                43.0       1781.0           342.0
10786    -117.91     33.63                30.0       2071.0           412.0
3965     -118.56     34.19                36.0       2600.0           441.0

       population  households  median_income ocean_proximity
5241       2184.0       960.0         8.2816       <1H OCEAN
17352       855.0       283.0         5.0099       <1H OCEAN
3505        808.0       275.0         4.3839       <1H OCEAN
7777       1072.0       301.0         3.2708       <1H OCEAN
14155      1495.0       614.0         4.3529      NEAR OCEAN
...           ...         ...            ...             ...
12182      1207.0       368.0         2.8170       <1H OCEAN
7275       1270.0       282.0         2.1615       <1H OCEAN
17223       663.0       358.0         4.7000       <1H OCEAN
10786      1081.0       412.0         4.9125       <1H OCEAN
3965       1246.0       426.0         4.1111       <1H OCEAN

[4128 rows x 9 columns]

 split y_train: : type <class 'pandas.core.series.Series'> ,value 12655     72100.0
15502    279600.0
2908      82700.0
14053    112500.0
20496    238300.0
           ...
15174    268500.0
12661     90400.0
19263    140400.0
19140    258100.0
19773     62700.0
Name: median_house_value, Length: 16512, dtype: float64

 split y_test: : type <class 'pandas.core.series.Series'> ,value 5241     500001.0
17352    162500.0
3505     204600.0
7777     159700.0
14155    184000.0
           ...
12182    110000.0
7275     118800.0
17223    293800.0
10786    335700.0
3965     215600.0
Name: median_house_value, Length: 4128, dtype: float64

 split null_rows_idx : type <class 'pandas.core.series.Series'> ,value 12655    False
15502    False
2908     False
14053    False
20496    False
         ...
15174    False
12661    False
19263    False
19140    False
19773    False
Length: 16512, dtype: bool

 k_value: : type <class 'numpy.int32'> ,value 128

 X_train_ocean_proximity_ohe : type <class 'pandas.core.frame.DataFrame'> ,value        ocean_proximity_<1H OCEAN  ocean_proximity_INLAND  \
12655                        0.0                     1.0
15502                        0.0                     0.0
2908                         0.0                     1.0
14053                        0.0                     0.0
20496                        1.0                     0.0
...                          ...                     ...
15174                        1.0                     0.0
12661                        0.0                     1.0
19263                        1.0                     0.0
19140                        1.0                     0.0
19773                        0.0                     1.0

       ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
12655                     0.0                       0.0
15502                     0.0                       0.0
2908                      0.0                       0.0
14053                     0.0                       0.0
20496                     0.0                       0.0
...                       ...                       ...
15174                     0.0                       0.0
12661                     0.0                       0.0
19263                     0.0                       0.0
19140                     0.0                       0.0
19773                     0.0                       0.0

       ocean_proximity_NEAR OCEAN
12655                         0.0
15502                         1.0
2908                          0.0
14053                         1.0
20496                         0.0
...                           ...
15174                         0.0
12661                         0.0
19263                         0.0
19140                         0.0
19773                         0.0

[16512 rows x 5 columns]

 housing_cat_ohe : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12655    -121.46     38.52                29.0       3873.0           797.0
15502    -117.23     33.09                 7.0       5320.0           855.0
2908     -119.04     35.37                44.0       1618.0           310.0
14053    -117.13     32.75                24.0       1877.0           519.0
20496    -118.70     34.28                27.0       3536.0           646.0
...          ...       ...                 ...          ...             ...
15174    -117.07     33.03                14.0       6665.0          1231.0
12661    -121.42     38.51                15.0       7901.0          1422.0
19263    -122.72     38.44                48.0        707.0           166.0
19140    -122.70     38.31                14.0       3155.0           580.0
19773    -122.14     39.97                27.0       1079.0           222.0

       population  households  median_income  ocean_proximity_<1H OCEAN  \
12655      2237.0       706.0         2.1736                        0.0
15502      2015.0       768.0         6.3373                        0.0
2908        667.0       300.0         2.8750                        0.0
14053       898.0       483.0         2.2264                        0.0
20496      1837.0       580.0         4.4964                        1.0
...           ...         ...            ...                        ...
15174      2026.0      1001.0         5.0900                        1.0
12661      4769.0      1418.0         2.8139                        0.0
19263       458.0       172.0         3.1797                        1.0
19140      1208.0       501.0         4.1964                        1.0
19773       625.0       197.0         3.1319                        0.0

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
12655                     1.0                     0.0
15502                     0.0                     0.0
2908                      1.0                     0.0
14053                     0.0                     0.0
20496                     0.0                     0.0
...                       ...                     ...
15174                     0.0                     0.0
12661                     1.0                     0.0
19263                     0.0                     0.0
19140                     0.0                     0.0
19773                     1.0                     0.0

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
12655                       0.0                         0.0
15502                       0.0                         1.0
2908                        0.0                         0.0
14053                       0.0                         1.0
20496                       0.0                         0.0
...                         ...                         ...
15174                       0.0                         0.0
12661                       0.0                         0.0
19263                       0.0                         0.0
19140                       0.0                         0.0
19773                       0.0                         0.0

[16512 rows x 13 columns]

 X_train_scaled_and_ohe : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12655  -0.941350  1.347438            0.027564     0.584777        0.635123
15502   1.171782 -1.192440           -1.722018     1.261467        0.775677
2908    0.267581 -0.125972            1.220460    -0.469773       -0.545045
14053   1.221738 -1.351474           -0.370069    -0.348652       -0.038567
20496   0.437431 -0.635818           -0.131489     0.427179        0.269198
...          ...       ...                 ...          ...             ...
15174   1.251711 -1.220505           -1.165333     1.890456        1.686854
12661  -0.921368  1.342761           -1.085806     2.468471        2.149712
19263  -1.570794  1.310018            1.538566    -0.895802       -0.894007
19140  -1.560803  1.249211           -1.165333     0.249005        0.109257
19773  -1.281050  2.025674           -0.131489    -0.721836       -0.758300

       population  households  median_income  ocean_proximity_<1H OCEAN  \
12655    0.732602    0.556286      -0.893647                  -0.887683
15502    0.533612    0.721318       1.292168                  -0.887683
2908    -0.674675   -0.524407      -0.525434                  -0.887683
14053   -0.467617   -0.037297      -0.865929                  -0.887683
20496    0.374060    0.220898       0.325752                   1.126529
...           ...         ...            ...                        ...
15174    0.543471    1.341519       0.637374                   1.126529
12661    3.002174    2.451492      -0.557509                  -0.887683
19263   -0.862013   -0.865118      -0.365475                   1.126529
19140   -0.189747    0.010616       0.168261                   1.126529
19773   -0.712322   -0.798573      -0.390569                  -0.887683

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
12655                 1.46218               -0.011006
15502                -0.68391               -0.011006
2908                  1.46218               -0.011006
14053                -0.68391               -0.011006
20496                -0.68391               -0.011006
...                       ...                     ...
15174                -0.68391               -0.011006
12661                 1.46218               -0.011006
19263                -0.68391               -0.011006
19140                -0.68391               -0.011006
19773                 1.46218               -0.011006

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
12655                 -0.354889                   -0.384217
15502                 -0.354889                    2.602693
2908                  -0.354889                   -0.384217
14053                 -0.354889                    2.602693
20496                 -0.354889                   -0.384217
...                         ...                         ...
15174                 -0.354889                   -0.384217
12661                 -0.354889                   -0.384217
19263                 -0.354889                   -0.384217
19140                 -0.354889                   -0.384217
19773                 -0.354889                   -0.384217

[16512 rows x 13 columns]

 X_train_imputed_a : type <class 'pandas.core.frame.DataFrame'> ,value        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12655  -0.941350  1.347438            0.027564     0.584777        0.635123
15502   1.171782 -1.192440           -1.722018     1.261467        0.775677
2908    0.267581 -0.125972            1.220460    -0.469773       -0.545045
14053   1.221738 -1.351474           -0.370069    -0.348652       -0.038567
20496   0.437431 -0.635818           -0.131489     0.427179        0.269198
...          ...       ...                 ...          ...             ...
15174   1.251711 -1.220505           -1.165333     1.890456        1.686854
12661  -0.921368  1.342761           -1.085806     2.468471        2.149712
19263  -1.570794  1.310018            1.538566    -0.895802       -0.894007
19140  -1.560803  1.249211           -1.165333     0.249005        0.109257
19773  -1.281050  2.025674           -0.131489    -0.721836       -0.758300

       population  households  median_income  ocean_proximity_<1H OCEAN  \
12655    0.732602    0.556286      -0.893647                  -0.887683
15502    0.533612    0.721318       1.292168                  -0.887683
2908    -0.674675   -0.524407      -0.525434                  -0.887683
14053   -0.467617   -0.037297      -0.865929                  -0.887683
20496    0.374060    0.220898       0.325752                   1.126529
...           ...         ...            ...                        ...
15174    0.543471    1.341519       0.637374                   1.126529
12661    3.002174    2.451492      -0.557509                  -0.887683
19263   -0.862013   -0.865118      -0.365475                   1.126529
19140   -0.189747    0.010616       0.168261                   1.126529
19773   -0.712322   -0.798573      -0.390569                  -0.887683

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
12655                 1.46218               -0.011006
15502                -0.68391               -0.011006
2908                  1.46218               -0.011006
14053                -0.68391               -0.011006
20496                -0.68391               -0.011006
...                       ...                     ...
15174                -0.68391               -0.011006
12661                 1.46218               -0.011006
19263                -0.68391               -0.011006
19140                -0.68391               -0.011006
19773                 1.46218               -0.011006

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
12655                 -0.354889                   -0.384217
15502                 -0.354889                    2.602693
2908                  -0.354889                   -0.384217
14053                 -0.354889                    2.602693
20496                 -0.354889                   -0.384217
...                         ...                         ...
15174                 -0.354889                   -0.384217
12661                 -0.354889                   -0.384217
19263                 -0.354889                   -0.384217
19140                 -0.354889                   -0.384217
19773                 -0.354889                   -0.384217

[16512 rows x 13 columns]
False

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
1606,-1.251077,1.048079,-0.211016,0.151734,0.080575,-0.533051,0.343342,-0.494985,-0.887683,-0.68391,-0.011006,2.817783,-0.384217
10915,0.852065,-0.893080,1.299986,-0.167671,-0.046215,0.493276,0.005292,-0.239693,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
19150,-1.560803,1.267921,-1.165333,-0.144756,-0.238985,-0.417421,-0.266212,-0.049654,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
4186,0.672224,-0.705981,1.538566,-0.614744,-0.577098,-0.524088,-0.540378,0.216926,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
16885,-1.410935,0.907754,-0.211016,0.307929,-0.165944,-0.246217,-0.045282,1.303035,-0.887683,-0.68391,-0.011006,-0.354889,2.602693